{% extends "main.html" %}

{% block more_script %}
{% endblock %}


{% block body %}
<h1>Live Markup-Parsing Service</h1>
<p>Give us a live link to the document you're writing, and we'll give you a live link to the parsed version of that document.</p>
<hr />

<h3>Here's a longer explanation:</h3>
<p>Let's say you have a file in your Dropbox. It's written in plain-text, but it uses <a href="http://daringfireball.net/projects/markdown/">Markdown</a> for its markup. You wish you could see what that document looks like if it were actually rendered, and you wish you had a public URL you could send your friends so they could see what your document looks like too.</p>
<p>This is what <a href="http://xwl.me">xwl.me</a> does. You give it a link to an internet-accessible plain-text document, and xwl.me will give you several links, with each link being your document run through one of several markup language parsers.</p>
<p>Additionally, if you change the document on the web, all you need to do to see the changes in the rendered version is refresh the page! Xwl.me will always show the most up-to-date version of your file.</p>
<hr />
<h4>Here's an example:</h4>
<blockquote>
<p>Lets say I have a markdown-formatted document at <code>http://lelandbatey.com/example.md</code> . I want to see what my markdown file will look like when it's converted to HTML. To submit my URL to xwl, I'd type in <code>"http://xwl.me/add/[MY_URL_GOES_HERE!]"</code>. </p>
<p>For my example document, it'd look like this: <code>http://xwl.me/add/http://lelandbatey.com/example.md</code></p>
<p>When I navigate to <code>http://xwl.me/add/http://lelandbatey.com/example.md</code> I get served a page that contains the result of translating that markdown to html.</p>
</blockquote>
<hr />
<h2>Get Started!</h2>
<p>To get started, just add <code>http://xwl.me/add/</code> in front of any url to a plain text document!</p>

{% endblock %}

