<html>
<head>
<style type="text/css">
body {
            background-color: white;
            font-family:Arial,Helvetica,sans-serif;
}

h1 {
            font-family: 'Gill Sans Bold', 'Optima Bold', Arial, sans-serif;
}

#content {
    width: 50%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
}
</style>
</head>
<body><div id="content">

<ul>
{% for item in fullList %}
    <li>
        <ul>
            <li><a href="{{ item.remoteUrl }}">{{ item.remoteUrl }} </a></li>
            <li><a href="/rs/{{ item.shortUrl }}">/rs/{{ item.shortUrl }}</a></li>
            <li><a href="/md/{{ item.shortUrl}} ">/md/{{ item.shortUrl }} </a></li>
        </ul>
    </li>
{% endfor %}
</ul>

</div>
</body>

</html>



